name: Build web app, run unit tests and deploy
on:
  push:
    paths:
      - "src/**"
      - "static/**"
      - "svelte.config.js"
      - "vite.config.ts"
      - "tsconfig.json"
      - "package.json"
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      BUN_INSTALL:
        /home/runner/.bun
        # TODO: use steps.setup-bun.outputs.bun-install
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.26
      - name: Cache installed Bun versions
        uses: actions/cache@v3
        with:
          key: multibun-${{ runner.os }}
          path: ~/.bun/multibun/cache
      - name: Install dependencies
        run: |
          bun install --frozen-lockfile
          bun install -g multibun@^1.0.5
      - name: Install Bun versions from v0.6.0
        run: bun run -b multibun install --from 0.6.0
        env:
          MULTIBUN_GITHUB_TOKEN: ${{ github.token }}
      - name: Run tests
        run: bun run -b tests
      - name: Build webapp
        run: bun run -b build
      - name: Deploy to Surge
        uses: dswistowski/surge-sh-action@v.1.0.3
        with:
          domain: bun-decompile.surge.sh
          project: build
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
