name: Run unit tests
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      BUN_INSTALL:
        /home/runner/.bun
        # TODO: use steps.setup-bun.outputs.bun-install
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.22
      - name: Install dependencies
        run: |
          bun install --frozen-lockfile
          bun install -g multibun@^1.0.3
      - name: Install Bun versions from v0.6.0
        run: bun run -b multibun install --from 0.6.0
        env:
          MULTIBUN_GITHUB_TOKEN: ${{ github.token }}
      - name: Run tests
        run: bun run -b tests
      - name: Archive test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: tests.html
